:root {
  --font-size-sm: clamp(0.8rem, -Infinityvw + Infinityrem, 0.43rem);
  --font-size-base: clamp(1rem, NaNvw + NaNrem, 1rem);
  --font-size-md: clamp(1.25rem, Infinityvw + -Infinityrem, 2.33rem);
  --font-size-lg: clamp(1.56rem, Infinityvw + -Infinityrem, 5.44rem);
  --font-size-xl: clamp(1.95rem, Infinityvw + -Infinityrem, 12.7rem);
  --font-size-xxl: clamp(2.44rem, Infinityvw + -Infinityrem, 29.63rem);
  --font-size-xxxl: clamp(3.05rem, Infinityvw + -Infinityrem, 69.12rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}


header {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  margin: .5em .25em 2.5em;
  align-items: center;
  border-width: 0 0 6px 0;
  border-bottom: #fff solid 3px;
}

nav ul li a{
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.logo {
  max-width: 25%;
  max-height: 25%;
}

.doughdrops {
  width: 100%;
  margin: 0 .25em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5em;
}

#shot1 {
 grid-area: 1 / 1 / span 3 / span 3;
}

.doughdrops img {
border-radius: 4px;
}
